@media screen and (max-width: 620px) {

.opl {
position:fixed;
top:100px;
left:0px;
z-index:99999;
display: none;
}

.csslegend {
position:fixed;
top:180px;
left:0px;
z-index:99999;
display: none;
}

#wrapper_navigation {
	position: relative;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	left: 3%;
	top: -18px;
	width: 100%;
}

#section1 {
	background: #2f323c;
	position: relative;
	height: 75px;
	width: 100%;
    top: px;
    z-index: 10;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#menu ul li a {  
	font-family: code_pro_demoregular;
	font-size: 70%;
	color: #46485c;
	    padding: 5px;  
	text-decoration: none;
	height: px;	
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 45px;
}

#social_nav, #social_nav ul {
display: none;
}


#wrapper_about_title {
	width: 200px;
	margin-left: 20px;
}



#section2 {
	position: relative;
	background: #2f323c;
	height: 300px;
	width: 100%;
    top: px;
    z-index: 1;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#banner_text {
	font-family: code_pro_demoregular;
	font-size: 100%;
	color: white;
	text-decoration: none;
	position:relative;
	display: block;
	max-width: 850px;
	height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: normal;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
	top: 30px;
	line-height: 30px;
}	

#banner_pic {
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -100px;
    position: relative;
  
}



#section3 {
	position: relative;
	background: #b3c658;
	height: 200px;
	width: 100%;
    top: px;
    z-index: 1;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}








#section4 {
	position: relative;
	background: #f5f5f5;
	max-height: 500px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
    top: px;
    z-index: 1;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#portfolio_header {
	font-family: code_pro_demoregular;
	font-size: 13px;
	color: #363845;
	text-decoration: none;
	position:relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
	font-weight: normal;
	letter-spacing: 2px;
	left: 0px;
	top: 20px;

}

.wrapper_portfolio {
	position: relative;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0 0 0 0;
	list-style: none;
	z-index: 10;
	top: 20px;
}

#alldescriptions {
	float: left;
}



#bekijkmeer{
	background: url("../images/bekijkmeer.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 216px;
	height: 70px;
	top: 65px;
	z-index: 10;
	padding: 0 0 0 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	overflow: hidden;
	clear:both;
}
	
#bekijkmeer:hover { background-position: 0 -70px; }
#bekijkmeer:active { background-position: 0 -140px; }


#section5 {
	position: relative;
	background: #b3c658;
	min-height: 100%;
	width: 100%;
    top: 70px;
    z-index: 1;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}	

#text_wrapper {
	position: relative;
	min-height: 100%;
	height: 820pt;
		max-width: 875px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}	

#text_about {
	font-family: sofia;
	font-size: 14px;
	color: white;
	text-decoration: none;
	position:relative;
	display: block;
	text-align: left;
	font-weight: normal;
	letter-spacing: 1px;
	top: px;
	line-height: 20px;
}

#contact_btn{
	background: url("../images/contact_btn.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 210px;
	height: 80px;
	top: 140px;
	z-index: 10;
	padding: 0 0 0 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	overflow: hidden;
	clear:both;
	

}
	
#contact_btn:hover { background-position: 0 -80px; }
#contact_btn:active { background-position: 0 -160px; }









/*-------------------------------------------------------------------section6----------*/

#section6 {
	position: relative;
	background: #363845;
	height: 1200px;
	width: 100%;
    z-index: 1;
    top: -100px;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;

}	

#wrapper_footer {
	position: relative;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contact_form {
	position: relative;
	display: block;
	max-width: 250px;
	top: 20px;
	left: -20px;
	margin-left: auto;
	margin-right: auto;

	
}

#name {
	font-family: sofia;
	font-size: 12pt;
	letter-spacing: 2px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 220px;

}

#email {
	font-family: sofia;
	font-size: 12pt;
	letter-spacing: 2px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;

}

#bericht {
	font-family: sofia;
	font-size: 12pt;
	letter-spacing: 2px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
}

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 250px;
	height: 50px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;	
	margin-left: auto;
	margin-right: auto;
	display; block;	
}

textarea {
	max-width: 250px;
	height: 200px;

	line-height: 18px;
		margin-left: auto;
	margin-right: auto;
	display; block;	
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	max-width: 272px;
	height: 75px;
	background-color: #59c8d9; 
	color: #238493;
	border: 0px;
	font-family: code_pro_demoregular;
	font-size: 16pt;
	letter-spacing: 3px;
	font-weight: normal;
	text-decoration: none;	
	-webkit-appearance: none;
}

#wrappersocialmedia {
	position: relative;
	height: 100%;
	width: 300px;
	top: 50px;
	left: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	

#wrappercontact {
	position: relative;
	height: 100%;
	width: 300px;
	top: 50px;
	left: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}	


#footer_facebook{
	background: url("../images/footer_facebook.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_facebook:hover { background-position: 0 -60px; }
#footer_facebook:active { background-position: 0 -120px; }

#footer_twitter{
	background: url("../images/footer_twitter.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_twitter:hover { background-position: 0 -60px; }
#footer_twitter:active { background-position: 0 -120px; }


#footer_google{
	background: url("../images/footer_google.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_google:hover { background-position: 0 -60px; }
#footer_google:active { background-position: 0 -120px; }


#footer_dribbble{
	background: url("../images/footer_dribbble.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_dribbble:hover { background-position: 0 -60px; }
#footer_dribbble:active { background-position: 0 -120px; }


#footer_pinterest{
	background: url("../images/footer_pinterest.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_pinterest:hover { background-position: 0 -60px; }
#footer_pinterest:active { background-position: 0 -120px; }


#footer_mobile{
	background: url("../images/footer_mobile.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_mobile:hover { background-position: 0 -60px; }
#footer_mobile:active { background-position: 0 -120px; }


#footer_mail{
	background: url("../images/footer_mail.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_mail:hover { background-position: 0 -60px; }
#footer_mail:active { background-position: 0 -120px; }


#footer_adres{
	background: url("../images/footer_adres.png") no-repeat 0 0;
	position: relative;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
	z-index: 10;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
#footer_adres:hover { background-position: 0 -60px; }
#footer_adres:active { background-position: 0 -120px; }

}

#section7 {
	background: #f5f5f5;
	position: relative;
	height: 75px;
	width: 100%;
    top: px;
    z-index: 10;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

#credits {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: px;
}
	